# Global Environment Configuration
NODE_ENV=development
PORT=4000
ALLOWED_ORIGINS=*
WATCHPACK_POLLING=true
CHOKIDAR_USEPOLLING=true

# User creds
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name

# Mesh Networking Service Discovery Links
AUTH_SERVICE_URL=http://auth:4001
ORDER_SERVICE_URL=http://orders:4002
PAYMENT_SERVICE_URL=http://payments:4003
EVENT_BUS_URL=http://events:5000

# Database & Infrastructure URLs
AUTH_DATABASE_URL=postgresql://user:password@postgres:5432/database_name?schema=public
ORDERS_DATABASE_URL=postgresql://user:password@postgres:5432/database_name?schema=public
PAYMENT_DATABASE_URL=postgresql://user:password@postgres:5432/database_name?schema=public
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Security Credentials (Keep out of git!)
JWT_SECRET='long_jwt_secret_here'
