# Ignore all .pyc files
*.pyc

# Ignore all log files
*.log

# Ignore all temp files
*.tmp

# Ignore all build artifacts
build/

# Ignore all dist files
dist/

# Ignore node_modules directory and its contents
node_modules/
