# IDEs and Editors
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Node / Dependencies (Root level)
node_modules/
package-lock.json
.eslintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files (Root level)
.env
.env*.local

# Developer Tooling / AI
.aider*
